html body{
    background-color: #1D1A1A
}
h2 {
    font-family: helvetica;
    font-style: bold;
    color: #DA4891;
    font-size: 120px;
    margin-left: 30px;
}
h3 {
    font-family: helvetica;
    color: #f2ebdc;
    margin-left: 30px;
    font-size: 40px;
    font-style: italic;
}
ul {
    font-family: helvetica;
    color: #f2ebdc;
    margin-left: 30px;
    font-size: 20px;
    display: grid;
    text-align: justify;
    float:left;
    
}
a:link {
    color: #DA4891;
  }
  
  a:visited {
    color: #f2ebdc;
  }
  
  a:hover {
    color: #354a73;
  }
  .navbar {
    background-color: #364A73;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: .5em;
    overflow:hidden;
  }
  .navbar a {
    color: #f2ebdc;
    font-family: helvetica;
    padding: 150px 152px;

  }
  
  /* color of links on hover */
  .navbar a:hover {
    color: #DA4891;
  }