body {
  background-color: #1D1A1A; 
}
p {
    font-family: Helvetica;
    color: #DA4891; 
}
h1 {
    color:#DA4891;
    font-family: 'Helvetica';
    font-weight: bold;
    line-height: 174px;
    position: absolute;
    width: 570;
    height: 174px;
    left: 60;
    top: 104px;
    font-size: 80;

}
img {
    border: 5px solid #364A73;
    position: absolute;
    width: 400px; 
    height: 394px;
    left: 60px;
    top: 318px;

}
a:link {
    color: #435773;
  }
  
  a:visited {
    color: #f2c4c4;
  }
  
  a:hover {
    color: #354a73;
  }
