body {
  background-color: #1D1A1A; 
}
p {
    font-family: Helvetica;
    color: #DA4891; 
    position: relative;
    position: absolute;
    left: 821px;
    top: 350;
    font-weight: bold;
    font-size: 49;
}
h1 {
    color:#DA4891;
    font-family: 'Helvetica';
    font-weight: bolder;
    line-height: 174px;
    position: absolute;
    width: 570;
    height: 174px;
    left: 60;
    top: 60px;
    font-size: 120;
}
img {
    border: 5px solid #364A73;
    position: absolute;
    width: 400px; 
    height: 390px;
    left: 60px;
    top: 318px;
}

a:link {
    color: #f2c4c4;
  }
  
  a:visited {
    color: #DA4891;
  }
  
  a:hover {
    color: #354a73;
  }
